template(name='hero')
  section(class='hero')
    .container
      h1 TerraLink

      h2 Hassle-free 
        b SmartHome 
        | Installation
      
      .grid
        .col-1-4
          h3 
            i(class='fa fa-wifi') 
          p Entirely Wireless

        .col-1-4
          h3 
            i(class='fa fa-lock') 
          p Flexible & Reliable 
          p Security

        .col-1-4
          h3 
            i(class='fa fa-thumbs-o-up') 
          p Extremely easy to configure.    

        .col-1-4
          h3 
            i(class='fa fa-money') 
          p Affordable.        
