@import 'jeet'

header
  padding 25px 25px 0 25px
  cf()
  
header .phone-number
  +below(465px)
    display none

header input
  color silver
  border 2px solid #c1c1c1
  border-radius 12px
  padding 6px
  background transparent
  
header .fa
  font-size 1.3em